[init]
    defaultBranch = main
[fetch]
    prune = true
    prunetags = true
[pull]
	rebase = true
[merge]
    ff = false
[core]
    autocrlf = input
    safecrl = false
[user]
    useConfigOnly = true
    name = Jan Caron
[status]
    showUntrackedFiles = no
